<nav id="circle-nav-wrapper" class="circle-nav-wrapper">
  <div class="circle-nav-toggle" id="toggle" {{action 'handleToggleClick'}}>
    <i class="material-icons">add</i>
  </div>
  <div class="circle-nav-panel"></div>
  <ul class="circle-nav-menu">
    {{#each categories as |category index|}}
      {{#link-to 'questions' category.id}}
        <li class="circle-nav-item circle-nav-item-{{index}}" id={{category.label}}></li>
      {{/link-to}}
    {{/each}}
  </ul>
</nav>
