<div class='gl-container'>
</div>

<div id='answer-type-labels'>
</div>

{{cddl-navigation
  isSortedByCategory=isSortedByCategory
  categories=proportions
  questionCounts=questionCounts
  visualization=glModule}}
