html,body,h1,h2,p{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body > .ember-view {
  height: 100%;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black !important;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0
}

ul li {
  list-style-type: none
}

.circle-nav-wrapper {
  position: fixed;
  z-index: 9999999;
  right:  0;
  bottom: 1%;
  width: 100%;
  height: 0;
}

.tippy-top {
     z-index: 99999999;
}

.circle-nav-wrapper .circle-nav-toggle {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 999999;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  transition: -webkit-transform .2s cubic-bezier(0, 1.16, 1, 1);
  transition: transform .2s cubic-bezier(0, 1.16, 1, 1);
  transition: transform .2s cubic-bezier(0, 1.16, 1, 1), -webkit-transform .2s cubic-bezier(0, 1.16, 1, 1);
  right: calc(50% - 15px);
  bottom: 10px
}

.circle-nav-wrapper .circle-nav-toggle i.material-icons {
    color:white;
}
 
.circle-nav-wrapper .circle-nav-toggle:focus,
.circle-nav-wrapper .circle-nav-toggle:hover {
    opacity: .8;
    cursor: pointer;
}
 
.circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
    border: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.circle-nav-wrapper .circle-nav-toggle.circle-nav-open i.material-icons {
    color: #fff;
}

.circle-nav-wrapper .circle-nav-panel {
    width: 100%;
    height: 0;
    bottom:0;
    position: fixed;
    background: black;
    transition: .2s all;
}
 .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
    width: 100%;
    height: 50px;
    opacity: .7;
     box-shadow: 0px -20px 30px #000000;
 }
 .circle-nav-wrapper .circle-nav-menu {
    width: 250px;
    height: 250px
}
 .circle-nav-wrapper .circle-nav-menu .circle-nav-item {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
     border-radius: 0%;
    width: 0px;
    height: 0px;
    visibility: hidden;
    transition: bottom .5s cubic-bezier(0, 1.16, 1, 1), left .5s cubic-bezier(0, 1.16, 1, 1), width .3s cubic-bezier(0, 1.16, 1, 1), height .3s cubic-bezier(0, 1.16, 1, 1);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    opacity:0;
    overflow: visible;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-1,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-2,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-3,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-4,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-5
 {
    right: 250px;
    bottom: 10px;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-6,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-7,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-8,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-9,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-10 {
  bottom:10px;
  right:250px;
}
 .circle-nav-wrapper .circle-nav-menu .circle-nav-item ul.sublist {
    font-size:12px;
    transition: 250ms all;
    width:100px;
    text-align: center;
    background-color: white;
    padding:5px;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-1 ul.sublist {color:#7d002e;margin:-150px 0 0 -200px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-2 ul.sublist {color:#d51d52;margin:-50px 0 0 -200px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-3 ul.sublist {color:#00416b;margin:-100px 0 0 -150px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-4 ul.sublist {color:#3372a9;margin:-150px 0 0 -50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-5 ul.sublist {color:#f15d2a;margin:-175px 0 0 -40px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-6 ul.sublist {color:#dfc723;margin:-175px 0 0 -40px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-7 ul.sublist {color:#007a66;margin:-150px 0 0 50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-8 ul.sublist {color:#4db748;margin:-100px 0 0 50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-9 ul.sublist {color:#692c7a;margin:-50px 0 0 100px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-10 ul.sublist {color:#dc649c;margin:-50px 0 0 100px;}
 .circle-nav-wrapper .circle-nav-menu .circle-nav-item ul.sublist li:hover {color:black;}
 .circle-nav-wrapper .circle-nav-menu .circle-nav-item span {
    display: none
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item {
    width: 50px;
    height: 50px;
    visibility: visible;
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item:focus,
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item:hover {
    cursor: pointer;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item {
    font-size: 0.5rem;
    /*bottom:10px;*/
    opacity:1;
}
.circle-nav-item-1 {background-image:url('../img/1.png');}
.circle-nav-item-2 {background-image:url('../img/2.png');}
.circle-nav-item-3 {background-image:url('../img/3.png');}
.circle-nav-item-4 {background-image:url('../img/4.png');}
.circle-nav-item-5 {background-image:url('../img/5.png');}
.circle-nav-item-6 {background-image:url('../img/6.png');}
.circle-nav-item-7 {background-image:url('../img/7.png');}
.circle-nav-item-8 {background-image:url('../img/8.png');}
.circle-nav-item-9 {background-image:url('../img/9.png');}
.circle-nav-item-10 {background-image:url('../img/10.png');}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-1 {
    left: 7.5%;
    /*transition-delay: .1s;*/
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-2 {
    left: 15%;
    /*transition-delay: .2s*/
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-3 {
    left: 22.5%;
    /*transition-delay: .3s*/
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-4 {
    left: 30%;
    /*transition-delay: .4s*/
}
 .circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-5 {
    left: 37.5%;
    /*transition-delay: .5s*/
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-6 {
    right: 37.5%;
    /*transition-delay: .6s*/
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-7 {
    right: 30%;
    /*transition-delay: .7s*/
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-8 {
    right:22.5%;
    /*transition-delay: .8s*/
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-9 {
    right: 15%;
    /*transition-delay: .9s*/
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-10 {
    right: 7.5%;
    /*transition-delay: 1s*/
}
@keyframes spin {
    0% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
    100% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes spin {
    0% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
    100% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
}

/* components */

.question-responses-container {
  text-align: center;
  width: 100%;
}

.response-type-label {
  text-align: center;
}

.cddl-visualization {
  height: 100%;
}

.questions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  pointer-events: none;
}

.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-card-container {
  width: 300px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.responses-by-type-visualization {
  text-align: center;
}

.gl-container{
  width:100%;
  height:100%;
  overflow:hidden;
}

.animation-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.response-rectangle:hover {
  stroke-width: 3px;
  stroke: darkred;
}

#answer-type-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.labels {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.label {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

.card-padding {
  width: 100%;
  pointer-events: all;
}

.question {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
  margin: 16px;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.card-container {
  width: 100%;
}

.card-container img {
  width: 100%;
}
