<div class="questions-container">
  <div class="animation-flex">
    {{link-to '' 'application' class='card-padding' tagName='div'}}
    {{!-- {{#animated-container class='card-container'}} --}}
{{!--       {{#animated-value model
        initialInsertion=true
        use=transition
        duration=duration}} --}}
      <div class="card-container">
        <div class="answer-card-container">
          <img src={{concat host model.back}} />
        </div>
      </div>
      {{!-- {{/animated-value}} --}}
    {{!-- {{/animated-container}} --}}
    {{link-to '' 'application' class='card-padding' tagName='div'}}
  </div>
</div>

{{outlet}}
