<div class="questions-container">
  <div class="animation-flex">
    {{#link-to 'application' class='close-button' tagName='div'}}
      <i class="material-icons">close</i>
    {{/link-to}}
    {{link-to '' 'application' class='card-padding' tagName='div'}}
    <div class="card-container">
      <div class="answer-card-container">
        <img src={{concat host model.back}} />
      </div>
    </div>
    {{link-to '' 'application' class='card-padding' tagName='div'}}
  </div>
</div>

{{outlet}}
