{{#animated-container}}
  {{#animated-value 'questions-route'
    initialInsertion=true
    finalRemoval=true
    use=transition
    duration=500}}
    <div class="question-responses-container">
      {{#each model as |questionType|}}
        <div class='answer-container'>
          {{questionType.a_text}}

          {{responses-by-type-visualization responses=questionType.total}}
        </div>
      {{/each}}
    </div>
  {{/animated-value}}
{{/animated-container}}

{{outlet}}
