<div id="car-container" class="answer-container">
  <div class="smol"><img src="img/up_arrow.png"></div>
  <div id="car-answer-1"><img src="img/car1/1.png"><h1>own a car</h1></div>
  <div id="car-answer-2"><img src="img/car1/2.png"><h1>own an autonomous car</h1></div>
  <div id="car-answer-3"><img src="img/car1/3.png"><h1>lease a car</h1></div>
  <div id="car-answer-4"><img src="img/car1/4.png"><h1>lease an autonomous car</h1></div>
  <div class="smol"><img src="img/down_arrow.png"></div>
</div>

<div class="card-placeholder hidden" id="car-cards">
  <img src="img/car1/card-02.jpg">
</div>

{{outlet}}
