<div class="questions-container">
  {{#animated-container}}
    {{#animated-value model
      initialInsertion=true
      use=transition
      duration=duration}}
      <div class="animation-flex">
        {{outlet}}
        <div class="question-responses-container">
          {{#each scaledAnswers as |questionType|}}
            <div class='answer-container'>
              <span class="response-type-label">
                {{questionType.a_text}}
              </span>
              <div class="rectangles">
                {{responses-by-type-visualization
                  responses=questionType.total
                  model=questionType}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/animated-value}}
  {{/animated-container}}
</div>
